.header {
    padding-top: rem(44);
    padding-bottom: rem(24);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--zindex-fixed);
    transition: var(--transition-1);

    &-container {
        // max-width: rem(1596);
        // width: 100%;
        // padding: 0 rem(24);
        // margin: 0 auto;
    }

    &__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(30);
        max-width: rem(784);
        width: 100%;
    }

    &-logo {
        &:focus-visible {
            color: var(--color-peach);
        }

        svg {
            width: rem(144);
            height: rem(30);
        }
    }
}

[data-header-style="true"] {
    padding-top: rem(24);
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(rem(100));
}