.menu {
    &__list {
        display: flex;
        align-items: center;

        &-link {
            font-size: rem(16);
            font-weight: 400;
            text-transform: uppercase;
            font-style: italic;
            line-height: 150%;
            padding: rem(16) rem(18);
            border-radius: 12;
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(rem(30));
            letter-spacing: 0.04em;
            transition: var(--transition-1);

            @media (hover: hover) and (pointer: fine) {

                &:hover,
                &:focus-visible {
                    color: var(--color-peach);
                    background-color: rgba(97, 97, 97, 0.4);
                }

                &:active {
                    color: var(--color-sand);
                    background-color: rgba(97, 97, 97, 0.4);
                }
            }

            @media (hover: none) and (pointer: coarse) {

                &:active {
                    color: var(--color-sand);
                    background-color: rgba(97, 97, 97, 0.4);
                }
            }
        }
    }
}