@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial/Arial-ItalicMT.eot');
    src: local('../fonts/Arial/Arial Italic'), local('../fonts/Arial/Arial-ItalicMT'),
        url('../fonts/Arial/Arial-ItalicMT.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/Arial-ItalicMT.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/Arial-ItalicMT.ttf') format('../fonts/Arial/truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial/ArialNarrow-Bold.eot');
    src: local('../fonts/Arial/Arial Narrow Bold'), local('../fonts/Arial/ArialNarrow-Bold'),
        url('../fonts/Arial/ArialNarrow-Bold.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/ArialNarrow-Bold.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/ArialNarrow-Bold.ttf') format('../fonts/Arial/truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial/Arial-BoldItalicMT.eot');
    src: local('../fonts/Arial/Arial Bold Italic'), local('../fonts/Arial/Arial-BoldItalicMT'),
        url('../fonts/Arial/Arial-BoldItalicMT.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/Arial-BoldItalicMT.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/Arial-BoldItalicMT.ttf') format('../fonts/Arial/truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial/ArialNarrow.eot');
    src: local('../fonts/Arial/Arial Narrow'), local('../fonts/Arial/ArialNarrow'),
        url('../fonts/Arial/ArialNarrow.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/ArialNarrow.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/ArialNarrow.ttf') format('../fonts/Arial/truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial/ArialNarrow-Italic.eot');
    src: local('../fonts/Arial/Arial Narrow Italic'), local('../fonts/Arial/ArialNarrow-Italic'),
        url('../fonts/Arial/ArialNarrow-Italic.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/ArialNarrow-Italic.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/ArialNarrow-Italic.ttf') format('../fonts/Arial/truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial/ArialMT.eot');
    src: local('../fonts/Arial/Arial'), local('../fonts/Arial/ArialMT'),
        url('../fonts/Arial/ArialMT.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/ArialMT.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/ArialMT.ttf') format('../fonts/Arial/truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial/Arial-BoldMT.eot');
    src: local('../fonts/Arial/Arial Bold'), local('../fonts/Arial/Arial-BoldMT'),
        url('../fonts/Arial/Arial-BoldMT.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/Arial-BoldMT.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/Arial-BoldMT.ttf') format('../fonts/Arial/truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial/Arial-Black.eot');
    src: local('../fonts/Arial/Arial Black'), local('../fonts/Arial/Arial-Black'),
        url('../fonts/Arial/Arial-Black.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/Arial-Black.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/Arial-Black.ttf') format('../fonts/Arial/truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial/ArialNarrow-BoldItalic.eot');
    src: local('../fonts/Arial/Arial Narrow Bold Italic'), local('../fonts/Arial/ArialNarrow-BoldItalic'),
        url('../fonts/Arial/ArialNarrow-BoldItalic.eot?#iefix') format('../fonts/Arial/embedded-opentype'),
        url('../fonts/Arial/ArialNarrow-BoldItalic.woff') format('../fonts/Arial/woff'),
        url('../fonts/Arial/ArialNarrow-BoldItalic.ttf') format('../fonts/Arial/truetype');
    font-weight: bold;
    font-style: italic;
}