.title {
    font-family: var(--font-family-prata);
    font-size: rem(80);
    line-height: 120%;
    font-weight: 400;
}

.subtitle {
    font-size: rem(50);
    line-height: 120%;
    font-weight: 400;
}