<section class="header-info">
    <div class="header-info__blocks">
        <div class="header-info__block">
            <div class="container header-info-block">
                <div class="header-info__wrap">
                    <h1 class="title">
                        Lorem ipsum dolor sit amet
                    </h1>
                    <h2 class="subtitle">
                        sed do eiusmod tempor
                    </h2>
                    <div class="header-info__container">
                        <div class="header-info__items">
                            <div class="header-info__item">
                                <div class="header-info__item-icon">
                                    <svg>
                                        <use href="img/sprites/vector.svg#header-info-check"></use>
                                    </svg>
                                </div>
                                <p class="header-info__item-text">
                                    do <span>$10000</span> consectetur elit
                                </p>
                            </div>
                            <div class="header-info__item">
                                <div class="header-info__item-icon">
                                    <svg>
                                        <use href="img/sprites/vector.svg#header-info-check"></use>
                                    </svg>
                                </div>
                                <p class="header-info__item-text">
                                    do <span>$10000</span> consectetur elit
                                </p>
                            </div>
                            <div class="header-info__item">
                                <div class="header-info__item-icon">
                                    <svg>
                                        <use href="img/sprites/vector.svg#header-info-check"></use>
                                    </svg>
                                </div>
                                <p class="header-info__item-text">
                                    do <span>$10000</span> consectetur elit
                                </p>
                            </div>
                        </div>
                        @@include("shared/buttons/button.html", {
                        "tag":"button",
                        "type":"button",
                        "size":"lg",
                        "color":"white",
                        "href":"",
                        "title":"Order",
                        "attribute":"",
                        })
                    </div>
                </div>
            </div>
        </div>
        <div class="header-info__block header-info__block--img">
            <picture>
                <!-- <source srcset="img/header-info.avif" type="image/avif">
                    <source srcset="img/header-info.webp" type="image/webp"> -->
                <img src="img/header-info.jpg" loading="lazy" alt="header image">
            </picture>
        </div>
    </div>
</section>